body{
    margin: 0;
    padding: 0;
}
.photo{
    background-image: url("../imgs/Untitled-1.jpg");
    width: 98.9vw;
    height: 100vh;
    margin-bottom: 100px;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.header{
    position: relative;
    background-color:rgb(204, 219, 220);
    width: 100vw;
    height: 100px;
    position: fixed;
    z-index: 9999;
    
}
.header img{
    width: 120px;
    position: relative;
    left: 8%;
    vertical-align:sub;
}
.header a{
    position: relative;
    left: 55%;
    bottom: 50px;
    text-decoration: none;
    font-weight: bold;
    color:black;
    padding-left: 30px ;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.header a:hover{
    background-color:rgb(0, 52, 89);
    color: aliceblue;
    padding: 10px 20px;
    border-radius: 10px;
    margin-left: 10px;
}
.header .contact{
    background-color:rgb(0, 52, 89);
    padding: 15px;
    border-radius: 10px;
    margin-left: 15px;
    color:aliceblue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.header .contact:hover{
    background-color:rgb(0, 52, 89);
    padding: 15px;
    border-radius: 10px;
    margin-left: 15px;
    color:aliceblue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.h2{
    text-align: center;
    font-weight:bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.hr1{
    background-color:  rgb(32, 109, 164);
    padding: 1px;
    width: 150px;
    height: 2px;
    border-radius: 10px;
    margin-bottom: 50px;
}
.Website{
    height: 200px;
    margin-bottom: 250px;
}

.Services1{
    width: 300px;
    height: 240px;
    display: inline;
    position: absolute;
    left: 10%;
    border: 2px solid black;
}
.Services2{
    width: 300px;
    height: 240px;
    display: inline;
    border: 2px solid black;
    position: absolute;
    left: 40%;
}
.Services3{
    width: 300px;
    height: 240px;
    display: inline;
    border: 2px solid black;
    position: absolute;
    left: 70%;
}
.Services i{
    padding-left: 140px;
    padding-top: 20px;
    font-size: 30px;
    color: rgb(32, 109, 164);
}
.Services p{
    text-align: center;
    transition: .8s;
}
.Services h2{
    text-align: center;
    color:  rgb(0, 52, 89);
    transition: .8s;
}
.Services a{
    background-color: rgb(0, 52, 89);
    text-decoration: none;
    color: aliceblue;
    padding: 10px;
    border-radius: 7px;
    margin: 50px 80px;
}
.Services::after{
    content: "";
    background-color: rgb(20, 16, 16);
    position: absolute;
    opacity: .4;
    width: 0;
    height: 0;
    transition: 1s;
    top: 0;
    left: 0;
}
.Services:hover::after{
    width: 100%;
    height: 100%;
    transition: 1s;
    opacity: .8;
    z-index: -1;

}
.Services:hover h2{
    color:aliceblue;

}
.Services:hover p{
    color:aliceblue;

}
.Services a:hover{
    background-color:aliceblue;
    color: black;
}

.works{
    width: 98.9vw;
    height: 100vh;
    position: relative;
    background-color: gray;
}
.works h2{
    text-align: center;
    font-weight: bold;
    color: rgb(49, 3, 141);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-top: 30px;
}
.works .hr2{
    width: 120px;
    height: 3px;
    border-radius: 10px;
    background-color: rgb(25, 25, 219);
    border: 0px;
}
.works-photo{
    display: flex;
    justify-content: space-around;
}
.works .works-photo img{
    width: 250px;
    height: 200px;
    margin-top: 120px;
    border-radius: 20px;
}
.e-work{
    width: 98.9vw;
    height: 500px;
    background-color:rgb(0, 52, 89);
}
.e-photo{
    display: flex;
    justify-content: space-around;
}
.e-photo img{
    margin-top: 90px;
    width: 180px;
    cursor: pointer;
    transition: 1s;
}
.e-photo img:hover{
    width: 200px;
    background-color:rgb(3, 70, 118);
    border-radius: 10px;
    transition: 0.4s;
}
.e-work h2{
    color: #fff;
    font-weight: bold;
    text-align: center;
    padding-top: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.e-work .hr2{
    background-color: rgb(32, 109, 164);
    padding: 1px;
    width: 150px;
    height: 2px;
    border-radius: 10px;
    border: 0px;
}
.e-work{
    margin-bottom: 150px;
}
.e-blog{
    position: relative;
    top: 150px;
    width: 400px;
    height: 400px;
    border-radius: 100%;
    background-color:rgb(0, 52, 89);
}
.e-blog h2{
    text-align: center;
    color:#fff;
    padding-top: 100px;
    font-weight: bold;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.e-blog p{
    text-align: center;
    color: gray;
    padding-top: 20px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.e-blog a{
    color: #fff;
    text-decoration: none;
    margin-left: 130px;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 10px 20px;
    border-radius: 50px;
}
.e-blog a:hover{
    background-color:#fff;
    color:black;
}
.e-back{
    background-color:rgb(231, 230, 230);
    width: 98.9vw;
    height: 100vh;
}
.e-imgs img{
    width: 200px;
    position: absolute;
    left: 40%;
    bottom: -20px;
    border: 1px solid;
    border-radius: 10px;
    transition: .4s;
}
.e-imgs img:hover{
    width: 300px;
    transition: 0.4s;
}
.e-imgs{
    position: relative;
    cursor: pointer;
}
.e-imgs .img2{
    left: 59%;
}
.e-imgs .img3{
    left: 79.2%;
}
.e-imgs .img1{
    left: 38.7%;
}
.h3{
    position: absolute;
    left: 42%;
    top: 10px;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.h32{
    left: 64%;
}
.h33{
    left: 84.5%;
}
.e-heading{
    text-align: center;
    padding-top: 20px;
    font-weight: bold;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.hr3{
    background-color: rgb(32, 109, 164);
    padding: 1px;
    width: 120px;
    height: 2px;
    border-radius: 10px;
    border: 0px;
}
.f1{
    position: relative;

    width: 350px;
    height: 190px;
    margin-top: 120px;
    border: 2px solid black;
    border-radius: 10px;
    margin-bottom: 50px;
}
.offers{
    display: flex;
    justify-content: space-around;
}
.f1 h2{
    text-align: center;
    font-weight: bold;
    color:  rgb(0, 52, 89);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    transition: .8s;
}
.f1 p{
    text-align: center;
    margin-top: 50px;
    transition: .8s;
}
.f1 i{
    position: absolute;
    margin:25px 30px;
    font-size: 30px;
    color: rgb(32, 109, 164);
}
.f1::after{
    content: "";
    background-color: rgb(20, 16, 16);
    position: absolute;
    opacity: .8;
    width: 0;
    height: 0;
    transition: 1s;
    top: 0;
    left: 0;
}
.f1:hover::after{
    width: 100%;
    height: 100%;
    transition: 0.8s;
    opacity: .8;
    z-index: -1;

}
.f1:hover h2{
    color: #fff;
}
.f1:hover p{
    color: #fff;
}
.of-h2{
    text-align: center;
    padding-top: 50px;
}
.of-hr2{
    width: 120px;
    height: 3px;
    border-radius: 10px;
    background-color: rgb(32, 109, 164);
    border: 0px;
}
.f2{
    position: relative;

    width: 350px;
    height: 190px;
    margin-top: 10px;
    border: 2px solid black;
    border-radius: 10px;
    margin-bottom: 50px;
}
.f2 h2{
    text-align: center;
    font-weight: bold;
    color:  rgb(0, 52, 89);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.f2 p{
    text-align: center;
    margin-top: 50px;
}
.f2 i{
    position: absolute;
    margin:25px 30px;
    font-size: 30px;
    color: rgb(32, 109, 164);
}
.f2::after{
    content: "";
    background-color: rgb(20, 16, 16);
    position: absolute;
    opacity: .8;
    width: 0;
    height: 0;
    transition: 1s;
    top: 0;
    left: 0;
}
.f2:hover::after{
    width: 100%;
    height: 100%;
    transition: 0.8s;
    opacity: .8;
    z-index: -1;
}
.f2:hover h2{
    color: #fff;
    transition: .8s;

}
.f2:hover p{
    color: #fff;
    transition: .8s;

}
.ff{
    margin-bottom: 200px;
}
.me h2{
    margin-left: 100px;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.hr4{
    background-color: rgb(32, 109, 164);
    padding: 1px;
    width: 50px;
    height: 2px;
    border-radius: 10px;
    border: 0px;
    margin-left: 100px;
}
.me p{
    text-align: center;
    margin-left: 80px;
    margin-top: 50px;
    margin-bottom: 50px;
    text-transform:capitalize;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.me{
    width: 600px;
    margin-left: 80px;
    font-size: 20px;
    position: absolute;
    margin-bottom: 200px;
}
.p1{
    padding-left: 80px;
    color: rgb(73, 72, 72);
    text-transform:capitalize;
    margin-left: 50px;
}
.icon i{
    text-align: center;
    color: blue;

}
.icon{
    position: absolute;
    border: 2px solid black;
    width: 23px;
    border-radius: 20px;
    margin-left: 85px;
}
.me-photo img{
    width: 400px;
    margin-left: 70%;
    margin-bottom: 200px;
    margin-top: 50px;
    border-radius: 10px;
    border: 2px solid;
    cursor: pointer;
    transition: 1s;
}
.me-photo img:hover{
    width: 440px;
}
.num{
    background-image: url("../imgs/tbl_articles_article_15540_4756d5f6f9c-e75a-43b6-9e7e-31d594512a15.jpg");
    background-size:cover;
    background-repeat: no-repeat;
    width: 98.9vw;
    height: 400px;
    background-attachment: fixed;
    margin-bottom: 300px;
    background-position:right;
    position: relative;

}
.num-overlay{
    background-color: rgb(42, 38, 38);
    position: absolute;
    width: 98.9vw;
    height: 400px;
    opacity: .8;
    display: flex;
    justify-content: space-around;
    justify-items: center;
}
.num-overlay h2{
    color: white;
    margin-left: 35%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.num-overlay i{
    color: rgb(68, 154, 215);
    margin-left: 25%;
    margin-top: 120px;
    font-size: 70px;
}
.num-overlay p{
    margin-left: 30%;
    color: aliceblue;
    text-transform:capitalize;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.icon3{
    width: 200px;
}
.icon3 i{
    transform: translate(50% 50%);
    padding-left: 20px;
}
.icon2 p{
    margin-left: 50px;
}
.icon2 i{
    transform: translate(50% 50%);
    padding-left: -20px;
}
.icon4 i{
    transform: translate(50% 50%);
    padding-left: 15px;
}
.icon1 p{
    margin-left: 50px;
    text-align: center;

}
.icon3 p{
    margin-left: 50px;
    text-align: center;

}
.icon4 p{
    margin-left: 50px;
    text-align: center;
}
.price{
    width: 300px;
    border: 2px solid black;
    border-radius: 10px;
    height: 450px;
    position: relative;
}
.price h2{
    text-align: center;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.price1{
    border: 2px solid rgb(27, 104, 160);
    ;
    border-radius: 78px;
    width: 120px;
    text-align: center;
    margin-left: 25%;
}
.price1 p{
    font-weight: bold;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
.price h3{
    text-align: center;
    margin-left: -25px;
    margin-top: 30px;
}
.price a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border: 2px solid  rgb(27, 104, 160);
    padding: 10px;
    margin-left: 23%;
    text-align: center;
    border-radius: 10px;
}

.price-plan{
    display: flex;
    justify-content: space-around;
    justify-items: center;
    margin-bottom: 200px;
}
.price3{
    width: 300px;
    border: 2px solid black;
    border-radius: 10px;
    height: 450px;
    position: relative;
}
.price3 a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border: 2px solid  rgb(27, 104, 160);
    padding: 10px;
    margin-left: 23%;
    text-align: center;
    border-radius: 10px;
}
.price3 h2{
    text-align: center;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.price3 h3{
    text-align: center;
    margin-left: -25px;
    margin-top: 30px;
}

.price2{
    width: 300px;
    border: 2px solid black;
    border-radius: 10px;
    height: 450px;
    position: relative;
}
.price2 a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border: 2px solid  rgb(27, 104, 160);
    padding: 10px;
    margin-left: 23%;
    text-align: center;
    border-radius: 10px;
}
.price2 h2{
    text-align: center;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.price2 h3{
    text-align: center;
    margin-left: -25px;
    margin-top: 30px;
}

.price::after ,.price2::after , .price3::after  {
    content: "";
    background-color: rgb(20, 16, 16);
    position: absolute;
    opacity: .8;
    width: 0;
    height: 0;
    transition: 1s;
    top: 0;
    left: 0;
}
.price:hover::after , .price2:hover::after , .price3:hover::after{
    width: 100%;
    height: 100%;
    transition: .4s;
    opacity: .8;
    z-index: -1;
}
.price:hover h1{
    color: #fff;
}
.price:hover a{
    color: #fff;
    transition: .8s;

}
.price:hover p{
    color: #fff;
}
.price:hover h2{
    color: #fff;
}

.price2:hover h1{
    color: #fff;
}
.price2:hover a{
    color: #fff;
    transition: .8s;

}
.price2:hover p{
    color: #fff;
}
.price2:hover h2{
    color: #fff;
}

.price3:hover h1{
    color: #fff;
}
.price3:hover a{
    color: #fff;
    transition: .8s;

}
.price3:hover p{
    color: #fff;
}
.price3:hover h2{
    color: #fff;
}

.meee{
    width: 98.9vw;
    height: 450px;
    margin-bottom: 100px;
    display: flex;
    justify-content: space-around;
    justify-items: center;
    background-image: url("../imgs/33333.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}
.mee1{
    margin-top: 10%;
    margin-left: 15%;
}
.mee1 img{
    width: 100px;
    border-radius: 50%;
    position: absolute;

}
.mee1 .mee-h2{
    margin-left: 120px;
    color: white;
    opacity: .9999;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.mee1 .mee-h22{
    margin-left: 120px;
    opacity: .9999;
    color: rgb(142, 202, 230);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.mee-overlay{
    background-color: rgb(39, 38, 42);
    position: absolute;
    width: 98.9vw;
    height: 450px;
    opacity: .7;   
}
.mee1 p{
    color: rgb(203, 243, 240);
    margin-left: 120px;
    text-transform: capitalize;
    opacity: .9999;
}
.our-team{
    width: 330px;
    border: 2px solid black;
    border-radius: 10px;
    position: relative;
}
.our-team .azam img{
    width:330px;
    height: 400px;
    border-radius: 10.2px 10.2px 0px 0px;
}
.our-h2{
    text-align: center;
    padding-right: 30px;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.our-p{
    text-align: center;
    padding-right: 30px;
}
.teams{
    display: flex;
    justify-content:space-around;
    margin-top: 100px;
    margin-bottom: 200px;
}
.team-h22{
    text-align: center;
    padding: 30px;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.our-team::after{
    content: "";
    position: absolute;
    background-color:black;
    width: 100%;
    height: 0%;
    top: 0;
    left: 0;
    transition: 1s;
    opacity: 0.2;
}
.our-team:hover::after{
    width: 100%;
    height: 100%;
    opacity: 0.2;
    transition: 1s;
}
.team11-overlay{
    background-color: rgb(0, 0, 0);
    position: absolute;
    width: 330px;
    height: 400px;
    opacity: .22;   
}
.team-hr3{
    background-color:blue;
    margin-top: -20px;
    padding: 2px;
    width: 80px;
    border-radius: 10px;
}
.new1{
    width: 300px;
    position: relative;
}
.new-img img{
    width: 270px;
    height: 300px;
    border-radius: 3px;
}
.new-img i{
    margin-top: 10px;
    color: rgb(68, 68, 194);
}
.new-img p{
    margin-left: 20px;
    margin-top: -15px;
}
.new-img #i2{
    margin-left: 120px;
    margin-top: -80px;
    position: relative;
    top: -35px;
}
.new-img #p2{
   margin-left: 140px;
   margin-top: -53px;
}

.new1 h3{
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.new1 a{
    text-decoration: none;
    font-weight: bold;
}
.news{
    display: flex;
    justify-content: space-around;
}
.new1::after{
    content: "";
    position: absolute;
    background-color:gray;
    width: 100%;
    height: 0%;
    top: 0;
    left: 0;
    transition: 1s;
    opacity: 0.4;
}
.new1:hover::after{
    width: 100%;
    height: 100%;
    opacity: 0.3;
    transition: 1s;
    z-index: 1;
}
.footer{
    background-color:rgb(30, 85, 124);
    height: 300px;
    overflow: hidden;
    margin-top: 100px;
}
.footer img{
    width: 200px;
    margin-left: 44%;
    margin-top: 30px;
    border-radius: 7px;
}
.footer h4{
    color: #fff;
    margin-top: 40px;
    text-align: center;
    font-weight: bold;
    margin-left: 20px;
}
.footer-icon{
    padding-left: 42%;
    padding-top: 30px;
}
.footer-icon i{
    width: 25px;
    font-size: large;
    background-color:rgb(24, 55, 78);
    color: aliceblue;
    padding: 10px;
    text-align: center;
    margin-left: 5px;
    border-radius: 10px;
}
.footer-icon i:hover{
    color: blue;
    background-color: #fff;
}
.footer-div1{
    height: 296px;
    float: left;
    position: absolute;
    display: grid;
    grid-template-columns: 2px px ;
}
.footer-gallary{
    margin-left: -150px;
    padding-left: -20px;
}
.footer-gallary img{
    width: 90px;
    height: 70px;
    position:absolute;
    cursor: pointer;
}
.footer-img1{
    left: 50px;
    top: 50px;
    position: relative;
}
.footer-img2{
    left: 250px;
    top: 50px;
}
.footer-img3{
    left: 150px;
    top: 50px;
}
.footer-img4{
    left: 250px;
    bottom: 70px;
}
.footer-img5{
    left: 50px;
    bottom: 70px;
}
.footer-img6{
    left: 150px;
    bottom: 70px;
}
.footer-h2{
    color: #fff;
    padding-left: 50px;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.footer-links{
    float: right;
    width: 455px;
    height: 200px;
    margin: -150px 20px;
}
.footer-links h2{
    color: #fff;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: -60px;
}
.footer-links a{
    color: #fff;
    text-decoration: none;
    padding: 10px;
    position:relative;
    top: 80px;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.footer-links a:hover{
    background-color: #fff;
    color: black;
    border-radius: 10px;
}